form {
  .names {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .flex {
    padding: 0.5rem;
  }

  .signBtn {
    display: inline-block;
  }

  .cancel {
    padding: 0.8rem 2rem;
    margin-left: 1rem;
    background-color: #95c59f;

    border: none;
    color: #fff;
    border-radius: 9px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 4rem;
    transition: all 0.4s ease;

    &:hover {
      background-color: #d5e8d8;
      cursor: pointer;
    }
  }
}
