.card {
  width: 70%;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border: none;
  color: #1a5325;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: left;
  padding: 2rem;
  background: rgb(226, 255, 233);
  background: linear-gradient(
    103deg,
    rgba(226, 255, 233, 1) 0%,
    rgba(255, 255, 255, 1) 49%,
    rgba(226, 255, 233, 1) 100%
  );

  h2 {
    font-weight: 300;
    font-size: 1rem;

    .card-icon {
      margin-top: 0.5rem;
      height: 1.2rem;
      width: 1.2rem;
      align-self: flex-end;
      margin-right: 0.5rem;
    }
  }
}
