.navigation {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(30, 97, 43);
  background: linear-gradient(
    90deg,
    #007a2f 3%,
    hsl(132, 52%, 35%) 26%,
    hsl(132, 29%, 61%) 100%
  );

  .logo {
    .headingLogo {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: bold;
      letter-spacing: 2px;
      cursor: pointer;

      .logo-img {
        background-color: #007a2f;
        width: 10rem;
        height: 3rem;
        background-color: #007a2f;
      }
    }
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.4s ease;

    .img-container {
      width: 4rem;
      padding-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a:link {
      height: 100%;
      padding: 0.9rem 1rem;

      &:hover {
        background-color: #2b8a3e;
        border-radius: 3px;
      }

      &:active,
      &:focus {
        background-color: #2b8a3e;
      }
    }

    .nav-profile-pic {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      align-self: center;
      cursor: pointer;
      transition: all 0.4s ease;
    }

    .menu {
      height: fit-content;
      width: 16rem;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 100%;
      background-color: #95c59f;
      border-top: none;
      z-index: 1000;
      padding-right: 0;
      transition: all 0.4s ease;
      overflow: hidden;

      .welcome {
        text-align: center;
        padding: 1rem;

        .userName {
          color: #fff;
          font-size: 1.4rem;
        }
      }

      a:link,
      a:visited {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #fff;
        transition: all 0.2s ease;
        border: 1px solid rgb(207, 207, 207);

        &:first-child {
          border-top: #95c59f;
        }
        &:hover {
          color: #fff;
          background-color: #2b8a3e;
          font-weight: bold;
        }
      }
    }

    .logout {
    }
  }

  div {
    padding-right: 3rem;

    a:link,
    a:visited {
      text-decoration: none;
      color: #fff;

      &:hover {
      }
    }
  }
}
