.message-input {
  padding: 1rem;
}

.names {
  display: flex;
  flex-direction: column;
}

.bacColor {
  background-color: #95c59f;

  &:hover {
    color: #fff;
    background-color: #d5e8d8;
  }
}

.message {
  display: block;
  width: 100%;
  background-color: #d5e8d8;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

.horizontal {
  display: flex;
}

.cancel1 {
  color: #fff;
}
